:root {
  --ion-background-color: #f0f5f0;
  --ion-background-color-rgb: 240, 245, 240;

  --ion-text-color: #677e73;
  --ion-text-color-rgb: 103, 126, 115;

  --ion-text-color-step-50: #6e8479;
  --ion-text-color-step-100: #758a80;
  --ion-text-color-step-150: #7c9086;
  --ion-text-color-step-200: #82968c;
  --ion-text-color-step-250: #899c92;
  --ion-text-color-step-300: #90a299;
  --ion-text-color-step-350: #97a89f;
  --ion-text-color-step-400: #9eaea5;
  --ion-text-color-step-450: #a5b4ab;
  --ion-text-color-step-500: #acbab2;
  --ion-text-color-step-550: #b2bfb8;
  --ion-text-color-step-600: #b9c5be;
  --ion-text-color-step-650: #c0cbc4;
  --ion-text-color-step-700: #c7d1cb;
  --ion-text-color-step-750: #ced7d1;
  --ion-text-color-step-800: #d5ddd7;
  --ion-text-color-step-850: #dbe3dd;
  --ion-text-color-step-900: #e2e9e4;
  --ion-text-color-step-950: #e9efea;

  --ion-background-color-step-50: #e9efea;
  --ion-background-color-step-100: #e2e9e4;
  --ion-background-color-step-150: #dbe3dd;
  --ion-background-color-step-200: #d5ddd7;
  --ion-background-color-step-250: #ced7d1;
  --ion-background-color-step-300: #c7d1cb;
  --ion-background-color-step-350: #c0cbc4;
  --ion-background-color-step-400: #b9c5be;
  --ion-background-color-step-450: #b2bfb8;
  --ion-background-color-step-500: #acbab2;
  --ion-background-color-step-550: #a5b4ab;
  --ion-background-color-step-600: #9eaea5;
  --ion-background-color-step-650: #97a89f;
  --ion-background-color-step-700: #90a299;
  --ion-background-color-step-750: #899c92;
  --ion-background-color-step-800: #82968c;
  --ion-background-color-step-850: #7c9086;
  --ion-background-color-step-900: #758a80;
  --ion-background-color-step-950: #6e8479;
}

:root {
  --ion-card-color: var(--ion-text-color);
}
