/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */

:root {
	--ion-color-primary: #1e8549;
	--ion-color-primary-rgb: 30,133,73;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #1a7540;
	--ion-color-primary-tint: #35915b;

	--ion-color-secondary: #EBBE73;
	--ion-color-secondary-rgb: 235,190,115;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #cfa765;
	--ion-color-secondary-tint: #edc581;

	--ion-color-tertiary: #B160EB;
	--ion-color-tertiary-rgb: 177,96,235;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #9c54cf;
	--ion-color-tertiary-tint: #b970ed;

	--ion-color-success: #2dd55b;
	--ion-color-success-rgb: 45,213,91;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28bb50;
	--ion-color-success-tint: #42d96b;

	--ion-color-warning: #ee8b20;
	--ion-color-warning-rgb: 238,139,32;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #d17a1c;
	--ion-color-warning-tint: #f09736;

	--ion-color-danger: #c5000f;
	--ion-color-danger-rgb: 197,0,15;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #ad000d;
	--ion-color-danger-tint: #cb1a27;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #5f5f5f;
	--ion-color-medium-rgb: 95,95,95;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #545454;
	--ion-color-medium-tint: #6f6f6f;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;

}

:root {
	--ion-background-color: #f0f5f0;
	--ion-background-color-rgb: 240,245,240;

	--ion-text-color: #677e73;
	--ion-text-color-rgb: 103,126,115;

	--ion-text-color-step-50: #6e8479;
	--ion-text-color-step-100: #758a80;
	--ion-text-color-step-150: #7c9086;
	--ion-text-color-step-200: #82968c;
	--ion-text-color-step-250: #899c92;
	--ion-text-color-step-300: #90a299;
	--ion-text-color-step-350: #97a89f;
	--ion-text-color-step-400: #9eaea5;
	--ion-text-color-step-450: #a5b4ab;
	--ion-text-color-step-500: #acbab2;
	--ion-text-color-step-550: #b2bfb8;
	--ion-text-color-step-600: #b9c5be;
	--ion-text-color-step-650: #c0cbc4;
	--ion-text-color-step-700: #c7d1cb;
	--ion-text-color-step-750: #ced7d1;
	--ion-text-color-step-800: #d5ddd7;
	--ion-text-color-step-850: #dbe3dd;
	--ion-text-color-step-900: #e2e9e4;
	--ion-text-color-step-950: #e9efea;

	--ion-background-color-step-50: #e9efea;
	--ion-background-color-step-100: #e2e9e4;
	--ion-background-color-step-150: #dbe3dd;
	--ion-background-color-step-200: #d5ddd7;
	--ion-background-color-step-250: #ced7d1;
	--ion-background-color-step-300: #c7d1cb;
	--ion-background-color-step-350: #c0cbc4;
	--ion-background-color-step-400: #b9c5be;
	--ion-background-color-step-450: #b2bfb8;
	--ion-background-color-step-500: #acbab2;
	--ion-background-color-step-550: #a5b4ab;
	--ion-background-color-step-600: #9eaea5;
	--ion-background-color-step-650: #97a89f;
	--ion-background-color-step-700: #90a299;
	--ion-background-color-step-750: #899c92;
	--ion-background-color-step-800: #82968c;
	--ion-background-color-step-850: #7c9086;
	--ion-background-color-step-900: #758a80;
	--ion-background-color-step-950: #6e8479;
}

:root {
  --font-family-headings: 'Libre Baskerville', Georgia, serif;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

h1, h2, ion-card-title {
	font-family: var(--font-family-headings);
	color: var(--ion-color-dark);
}

strong {
  color: var(--ion-color-primary);
}
